@page "/Tareas"
@using BLL
@using Entidades


<EditForm Model="tarea" OnValidSubmit="Guardar">
    <DataAnnotationsValidator/>

    <div class="card">
        <div class="card-header">
            <h3>Registro de Tareas</h3>
        </div>
        <div class="card-body">
            <form>
                @*TareaId*@
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>TareaId</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="tarea.TareaId" class="form-control col-4" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Nombre*@
                <div class="form-group">
                    <label>Nombre de la Tarea</label>
                    <InputText @bind-Value="tarea.Nombre" class="form-control"/>
                    <ValidationMessage For="@(() => tarea.Nombre)"/>
                </div>

                @*Descripcion*@
                <div class="form-group">
                    <label>Descripción de la Tarea</label>
                    <InputText @bind-Value="tarea.Descripcion" class="form-control"/>
                    <ValidationMessage For="@(() => tarea.Descripcion)"/>
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">Nuevo</button>
                <button type="submit" class="btn btn-lg btn-success">Guardar</button>
                <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">Eliminar</button>
            </div>

        </div>
    </div>
</EditForm>

@code{
    [Parameter]
    public int TareaId { get; set; } 

    public Tareas tarea { get; set; } = new Tareas(); 


    private void Nuevo(){
        tarea = new Tareas();
    }

    private void Buscar(){
        if (tarea.TareaId > 0)
        {
            var encontrado = TareasBLL.Buscar(tarea.TareaId);
            Nuevo();
            if (encontrado != null)
                this.tarea = encontrado;

        }
    } 

    public void Guardar()
    {
        var guardado = TareasBLL.Guardar(tarea);

        if (guardado)
        {
            Nuevo();
        }

    }

    public void Eliminar()
    {
        bool eliminado;

        eliminado = TareasBLL.Eliminar(tarea.TareaId);

        if (eliminado)
        {
            Nuevo();
        }

    }
}