@page "/cTareas"
@using Entidades
@using BLL

<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h3>Consulta de Tareas</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">
                    <select class="form-control col-2" @bind="Filtro">
                        <option value="0">Todos</option>
                        <option value="1">Id</option>
                        <option value="2">Nombre</option>
                        <option value="3">Descripción</option>
                    </select>

                    <div class="flex-fill mx-2">
                        <label>Criterio</label>
                        <input type="text" class="form-control" @bind="Criterio"/>
                    </div>

                    <button type="button" class="btn btn-warning" @onclick="Buscar">
                        <i class="oi oi-magnifying-glass mr-2"/> Buscar
                    </button>
                </div>
                
            </form>
        </div>
        <table class="table table-secondary">
            <thead class="thead-dark">
                <tr class="table-info">
                    <th>Id</th>
                    <th>Nombre de la Tarea</th>
                    <th>Descripción de la tarea</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.TareaId</td>
                        <td>@item.Nombre</td>
                        <td>@item.Descripcion</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</EditForm>



@code{
    public string Filtro { get; set; }
    public string Criterio { get; set; }
    public List<Tareas> lista { get; set; } = new List<Tareas>();

        
    private void Buscar(){
        lista = new List<Tareas>();

        if (Criterio.Length > 0)
        {
            switch(Filtro)
            {
                case "0":
                    lista = TareasBLL.GetTareas();
                    break;
                case "1":
                    lista = TareasBLL.GetList(t => t.TareaId == int.Parse(Criterio));
                    break;

                case "2":
                    lista = TareasBLL.GetList(t => t.Nombre.ToLower().Contains(Criterio.ToLower())); 
                    break;

                case "3":
                    lista = TareasBLL.GetList(t => t.Descripcion.ToLower().Contains(Criterio.ToLower()));
                    break;
            }
        }
        else
        {
            lista = TareasBLL.GetList(t => true);
        }
    }
}